.main {
    display: flex;
    flex-direction: column;

}
.main .chat{
    display: flex;
    flex-direction: column;

    width: 155px;
    max-width: 205px;
    height: 205px;
    max-height: 300px;

    padding: 7px;
    border-top-left-radius: 29px;
    border-top-right-radius: 10px;

    background-color: #000000;
}

.chat .background{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 2px;
    border-top-left-radius: 29px;
    border-top-right-radius: 10px;

    background-color: white;
    background-image: url("https://cdn-icons-png.flaticon.com/512/134/134914.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    box-shadow: inset #c9c9c9 2px 6px 10px 1px;
    overflow-y: auto;
}

.main .chat .menu{
    display: flex;
}

.main .chat .menu button {
    width: 20px;
    height: 20px;

    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cdn0.iconfinder.com/data/icons/gradak-communikatok-flad/32/communication-20-512.png");
}

.main .chat .menu button {
    border: none;

    border: 2px;

    font-size: 10px;
    color: white;
    font-family: Ubuntu;
    cursor: pointer;
}

.openChat button{
    background-color: #43d243;
    border: none;
    color: white;

    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY7ZJr_nTq49ceuFehxMG8FZI7Pb1JYsj-2UmFL2_NeKyQrBCLYWqbDkEEZvGIAZFm7nA&usqp=CAU");
}
