.main {
    display: flex;
    flex-direction: column;

}
.main .chat{
    display: flex;
    flex-direction: column;

    width: 145px;
    max-width: 145px;
    height: 145px;
    max-height: 145px;

    padding: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background-color: red;

}

.chat .background{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    gap: 2px;

    background-color:white;
    overflow-y: auto;
}

.main .chat .menu{
    display: flex;
}

.main .chat .menu button {
    border: none;

    background-color: #6161ff;
    border: 2px;

    font-size: 10px;
    color: white;
    font-family: Ubuntu;
}