.main {
    width: 100%;
    height: 92vh;


    /**
        define quanto o botão ira usar da tela ( OPEN chat )
     */
    display: grid;
    grid-template-columns:  100% 0%;
}

.main .banner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    font-family: Ubuntu;
}

.main .banner button {
    background-color: #252940;
    width: 100px;
    padding: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

.main .banner button:hover {
    background-color: #1B52BF;
}

.main .banner .messages {
    display: flex;
    align-items: center;

    position: absolute;
}

.main .chat{
    display: flex;
    /**
                justify-content: end;

                Ajuda a ajustar para qual lado
                o table se ira abri.

                helps to adjust to which side
                the table will open.
     */
    justify-content: end;
    align-items: end;

    width: 100%;
    height: 100%;


    background-color: orange;
}

